.generator {
    padding: 2rem;
    border-radius: 0.75rem;
    border: 1px solid #27272A;
    background: #18181B;
    margin-top: 3rem;
}

.output {
    margin-bottom: 2.5rem;

    form {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
        input {
            border-radius: 0.25rem;
            padding: 0.6rem;
            background: #27272A;
            width: 75%;

            color: #A1A1AA;
            font-family: "IBM Plex Mono";
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .output-title {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0.75rem;
    }
}

.generate-btn {
    border-radius: 0.25rem;
    color: #fafafa;
    padding: 0.75rem 1.25rem;
    background: #F43F5E;
    width: 20%;
    height: 2.45rem;
}

.password-conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        padding: 0.5rem;
        border-radius: 0.25rem;
        background: #27272A;
        color: #A1A1AA;
        width: 30%;
        font-family: "IBM Plex Mono";
    }
}

.conditions-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.75rem;
}

.condition-buttons {
    display: flex;
    gap: 0.5rem;
}

.copy-container {
    position: relative;
    display: inline-block;
}

.copy-message {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: #27272A;
    color: #A1A1AA;
    padding: 0.33rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    white-space: nowrap;
    font-family: "IBM Plex Mono";
}

.refresh {
    display: flex;
    justify-content: center;

    .refresh-icon {
        width: 1rem;
        height: 1rem;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 550px) {
    .generator {
        padding: 1rem;
    }

    .password-conditions {
        flex-direction: column;
        gap: 1rem;

        input {
            width: 15.5rem;
        }
    }

    form {
        flex-wrap: wrap;

        input {
            width: 100%;
            flex: 1; 
        }

        .generate-btn {
            margin: 0.5rem auto 0;
            width: 100%;
        }
    }
}