/* Reset SCSS - сброс дефолтных стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}