body {
    transition: all 0.3s ease;

    &.light {
        background: #ffffff;
        color: #444;
    }
}

.btn {
    transition: all 0.3s ease;

    &.light {
        background: #E4E4E7;
    }
}

// Header Component
.header-title {
    transition: all 0.3s ease;

    &.light {
        color: #000;
    }
}

// Generator Component
.generator {
    transition: all 0.3s ease;

    &.light {
        background: #f6f6f6;
    }
}

.output {
    input {
        transition: all 0.3s ease;

        &.light {
            background: #E4E4E7;
            color: #444;
        }
    }
}

.password-conditions {
    input {
        transition: all 0.3s ease;

        &.light {
            background: #E4E4E7;
            color: #444;
        }
    }
}

.copy-message {
    transition: all 0.3s ease;

    &.light {
        background: #E4E4E7;
        color: #444;
    }
}


// ConditionButton Component
.condition-btn {
    transition: all 0.3s ease;

    &.light {
        color: #A1A1AA;
        border-color: #d5d5d5;
        background: #E4E4E7;
    }
}